---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Surnet">
	<div >
		<h1 class="text-9xl text-center">Surnet<span class="text-2xl"> APP</span></h1>
		<img src="/public/logoSurnet.jpg" alt="" class="w-full h-full">
	</div>
</Layout>

