---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Surnet">
	<div >
		<h1 class="text-9xl text-center tracking-widest font-bold">Surnet<span class="text-2xl"> APP</span></h1>
	</div>
</Layout>

