<nav class="flex justify-between dark:bg-black text-white py-2">
    <div>Surnet</div>
    <div>
        <ul class="flex justify-between gap-x-10">
            <li>Convenios de pago</li>
            <li>Convenios de soporte</li>
        </ul>
    </div>
    <div>Login </div>
</nav>