<nav class="flex justify-between dark:bg-black text-white py-2">
    <div>Surnet</div>
    <div>
        <ul class="flex justify-between gap-x-10">
            <li>
                <a href="">Convenios de pago</a>
            </li>
            <li>
                <a href="">Convenios de soporte</a> 
            </li>
        </ul>
    </div>
    <div>Login </div>
</nav>