<header class="bg-gray-950">
  <nav class="flex justify-between   text-white p-2">
    <a href="/">SURNET</a>
    <div>
      <ul class="flex justify-between gap-x-10">
        <li>
          <a href="/">Convenios de pago</a>
        </li>
        <li>
          <a href="/">Convenios de soporte</a>
        </li>
      </ul>
    </div>
    <a href="/">Login</a>
  </nav>
</header>
